extends layout

block content
  map(name='directionalMap')
    area(href='/',alt='up',title='up',shape='rect',coords='267,0,534,267')
    area(href='/',alt='left',title='left',shape='rect',coords='0,267,267,534')
    area(href='/',alt='right',title='right',shape='rect',coords='534,267,800,534')
    area(href='/',alt='down',title='down',shape='rect',coords='267,534,534,800')
  img(src='/images/tango_arrows_blue.png',usemap='#directionalMap',width=800,height=800)